
*{
   
 font-family: 'Work Sans', sans-serif;
 box-sizing: border-box;
}


/* nav styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: 1rem;
    font-weight: 700px;
    color: #0b0223;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 35px;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 400;
}
.logo-title{
    gap: 20px;
    font-size: 3rem;
    font-weight: bolder;
    font-family: Work Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linear-primary{
    color: orangered;
}
.follow-logo{
    margin: 0 auto;
    border-radius: 8px;
    padding: 4px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* banner styles*/
.banner{
    margin: 0 auto;
    width: 1440px;
    background: #FFF;
}

.banner-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.primary-linear{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     color: #0B0223;
     font-family: Work Sans;
     font-size: 98px;
     font-weight: 800px;
     text-transform: uppercase;
}
.banner-description{
   color: #534C64;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 500;
}
.btn-primary-1{
    color: #FFF;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    border: none;
}
.btn-primary-2{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    border-radius: 48px;
    color: #FFF;
    background: #4EC5F7;  
    padding: 8px 10px;
    border: none;
}     
.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* videos container start*/
.videos-container{
    text-align: center;
    margin: 40px auto;
}
.videos-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    gap: 20px;


}
.videos-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 800px;
  
}
.videos-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400; 
}
.videos-img-title{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}

.primary-linear-1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     color: #0B0223;
     font-family: Work Sans;
     font-size: 3rem;
     font-weight: 800px;
   
}
/* offline-game styles */
.offline-game{
    min-height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 40px;
}
.offline-game-content{
   margin-bottom: 270px;
   padding: 220px;
}

.offline-game-content h1{
   text-align: center;
   font-size: 3rem;
   font-weight: 700px;
   color: #0B0223;
   line-height: 60px;
}
.offline-game-description{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.offline-game-img-1{
   width: 100%;
    position: absolute;
}

.offline-game-img-2{
    border-radius: 8px;
    color: white;
    width: 320px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 290px;
    right: 200px;
    
}
/*footer styles*/

footer{
    background-color: #111;
    margin: 0 auto;
}
.footer-container{
    width: 100%;
    padding: 0px 30px 20px;
}
.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-footer p{
    color: white;
    font-size: 3rem;

}
.social-icons{
display: flex;
justify-content: center;
}

.social-icons a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
/* hover effect*/

.social-icons a:hover{
 background-color: #111;
 transition: 0.5s;
}
.social-icons a:hover{
    color: white;
    transition: .5s;
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
}
.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;

}
.footer-bottom{
    text-align: center;
}
.footer-bottom p{
    color: white;
}
.footer-nav li{
    list-style: none;
}
