nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700px;
    color: #0b0223;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 35px;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 400;
}
.logo-title{
    gap: 20px;
    font-size: 3rem;
    font-weight: bolder;
    font-family: Work Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.span-G{
    color: orangered;
}
.follow-logo{
    margin: 0 auto;
    border-radius: 8px;
    padding: 4px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}